<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    </head>

<body>
    <h1> Rate a movie!</h1>
    <p>Server is running as expected!</p>

    <hr>

    <a href="/search">Search Movies</a> | <a href="/history">Rating History</a>

</body>
</html>